<h1>Jornal Digital</h1>

<div class="new-article-container">
  <%= link_to 'Novo Artigo', new_article_path, class: "new-article-button" %>
</div>

<section class="article-header">
  <span>Título</span>
  <span>Texto</span>
  <span>Ações</span>
</section>

<section class="article-content">
  <% @articles.each do |article| %>
    <span><%= article.title %></span>
    <span><%= article.text %></span>
    <div class="action-buttons">
      <span><%= link_to 'Ver', article_path(article) %></span>
      <span><%= link_to 'Editar', edit_article_path(article) %></span>
      <span><%= link_to 'Deletar', article_path(article),
               method: :delete,
               data: { confirm: 'Are you sure?' } %></span>
    </div>
  <% end %>
</section>